[project]
name = "ext-sentinel-py-sdk"
description = "Sentinel Python SDK"
requires-python = ">=3.11"
readme = "README.md"
dynamic = ["version"]
dependencies = [
    "rich==13.7.0",
    "httpx==0.26.0",
    "PyYAML==6.0.1",
    "jinja2==3.1.3",
    "aiofiles==23.2.1",
    "async-lru==2.0.4",
    "aiokafka==0.10.0",
    "pydantic==2.6.1",
    "web3==6.15.1",
]

[tool.hatch.build]
sources = ["src"]

[tool.hatch.version]
# path = "src/sentinel/version.py"
source = "vcs"

[tool.hatch.build.targets.wheel]
include = [
  "src/sentinel/**",
]

[tool.ruff]
# Allow lines to be as long as 120.
line-length = 120

[build-system]
# TODO https://github.com/ofek/hatch-vcs
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project.scripts]
sentinel = 'sentinel.cli:run_cli_instance'

[tool.pytest.ini_options]
addopts = "--cov=sentinel --cov-report term-missing"
testpaths = ["tests", ]
