[project]
name = "ext-sentinel-py-sdk"
description = "Sentinel Python SDK"
requires-python = ">=3.11"
readme = "README.md"
dynamic = ["version"]

dependencies = [
    "rich==13.7.0",
    "httpx==0.26.0",
    "PyYAML==6.0.1",
    "jinja2==3.1.3",
    "aiofiles==23.2.1",
    "async-lru==2.0.4",
    "aiokafka==0.10.0",
    "pydantic==2.6.1",
    "web3==6.15.1",
    "websockets=12.0",
]

[build-system]
requires = ["setuptools", "setuptools-git-versioning<2"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["src"]
# include = []
# exclude = []
# namespaces = false # true by default

[project.scripts]
sentinel = 'sentinel.cli:run_cli_instance'

[tool.setuptools-git-versioning]
enabled = true
starting_version = "0.3.0"

[tool.ruff]
# Allow lines to be as long as 120.
line-length = 120

[tool.pytest.ini_options]
addopts = "--cov=sentinel --cov-report term-missing"
testpaths = ["tests", ]
