name: Release

on:
  pull_request:
    types:
    - closed
    branches:
    - main

env:
  PYTHON_VERSION: "3.11"

jobs:

  Release:
    if: 
      github.event.pull_request.merged && startsWith(github.event.pull_request.head.ref, 'release/')

    runs-on: ubuntu-latest
    
    steps:

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Bumping version and tagging
      run: |
        RELEASE_VERSION=`./scripts/release get-release-version ${{ github.event.pull_request.head.ref }}`
        echo ${RELEASE_VERSION} > src/sentinel/VERSION
        git tag ${RELEASE_VERSION}
        git push --tags


