name: Test Suite

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:

  checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - "3.11"

    steps:
    
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Analize branch prefix
      run: |
        echo $(git branch --show-current)

    # - name: Set up Python ${{ matrix.python-version }}
    #   uses: actions/setup-python@v5
    #   with:
    #     python-version: ${{ matrix.python-version }}
    #     cache: "pip"

    # - name: Install required packages
    #   run: |
    #     ./scripts/install

    # - name: Run tests
    #   run: |
    #     ./scripts/test ${{ matrix.python-version }}

