name: Test Suite

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:

  checks:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version:
          - "3.11"

    steps:
    
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"

    - name: Install required packages
      run: |
        ./scripts/install

    # - name: Linter checks
    #   run: |
    #     ruff --output-format=github .
    #   continue-on-error: true

    # - name: Run static analysis
    #   run: |
    #     hatch fmt --check
    #   continue-on-error: true

    # - name: Check types
    #   run: |
    #     hatch run types:check
    #   continue-on-error: true

    - name: Run tests
      run: |
        pytest --junitxml=junit/test-results-${{ matrix.python-version }}.xml

    # - name: Run tests
    #   run: |
    #     hatch run full
    #   continue-on-error: true
